*{
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
/*************************/
main{
    background-color: rgb(241, 238, 238);
}
.maindiv{
    background: pink url(../img/6650-1-or-1393591387.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.remain{
    background-color: rgba(24, 24, 24,0.7);
    width: 100%;
    height: 700px;
}
.logo{
    color:white;
    font-size: 20px;
    float: left;
    width: 50%;
    padding-top: 2%;
    padding-left: 5%;
}
.fa-bars{
    color: white;
    font-size: 40px;
    visibility: hidden;
    float: right;
    padding-right:15px; 
}
.navdiv1{
    float: right;
    width: 50%;
    padding-top: 2%;
    padding-right: 5%;
}
.nav1{
    color:white;
    display: flex;
    justify-content: flex-end;
}
.a1{
    color:white;
    padding: 0px 20px;
}
.parg1{
    text-align: center;
    font-size: 70px;
    color:white;
    padding-top: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.parg2{
    text-align: center;
    font-size: 40px;
    color:white;
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.bnt1{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.but1{
    background-color: rgb(47, 167, 247);
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid rgb(47, 167, 247);
    border-radius: 5px;
    padding: 20px;
}
/*****************************/
.secsdiv{
    margin: auto;
    width: 70%;
}
.sec1{
    
    margin-top: 5%;
    margin: auto;
    width: 55%;
    background-color: white;
}
.backgrounddiv{
    background-color: white;
}
h3{
    color: black;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 20px;
    text-align: center;   
    padding-top: 10%;
}
.pp{
    color: black;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 17px;
    text-align: center;
    padding-top:5%;
    line-height: 25px;    
    margin: auto;
    width: 100%;
    padding: 3% ;
    padding-left: 5%;
    padding-right: 5%;

}
.span{
    color: rgb(47, 167, 247);
    font-size: 11px;
    text-align: center;
    padding-top:3%;
    padding-bottom:3%;
 }
.divimg1 ,.divimg2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}


/***************************/
.sec2{
    margin-top: 5%;
    margin: auto;
    width: 55%;
    background-color:  rgb(241, 238, 238);
}
.flexp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h4{
    text-align: center;
    padding-top: 10px;
}
.ppp{
    text-align: center;
    padding: 5% 10%;
    padding-bottom: 15%;
}
.textbox{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    margin-left: 20%;
}
.formdiv{
padding-bottom: 5%;
}
.but2{
    background-color: rgb(47, 167, 247);
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid rgb(47, 167, 247);
    border-radius: 5px;
    padding: 20px;
}
footer{
    background-color: rgb(49, 47, 47);
    padding-top: 5%;
}
.spanfooterdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%; 
    font-size: 50px;
    color:white;
}
.spanfooterdiv span{
    padding-left: 2%;
}
.lastp{
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5%;
}
.fa-camera-retro{
color:blue;
text-align: center;
font-size: 40px;
}
.pppp{
    color: black;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top:2%;
    line-height: 25px;    
    margin: auto;
    width: 70%;
    padding: 3% ;
    padding-left: 5%;
    padding-right: 5%;
}